@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
  }
  body {
    background-color: #24282f;
    margin: 0;
    padding: 0;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  #canvas-number {
    width: 680px;
    height: 420px;
  }
  